<!DOCTYPE html>
<html lang="en-ZA">

<head>
    <title>Blog & News | Mambure</title>
    <meta charset="utf-8" />
    <meta name="description" content="Mambure Trust is a girl empowerment organisation in Zimbabwe." />
    <meta name="keywords" content="Mambure Trust therefore seeks to promote the empowerment of girls and women in rural schools and surrounding communities through education, effective and strategic use of digital literacy and other life skills. " />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="We advocate against stereotypical attitudes and beliefs that hinder girls from pursuing male dominated subjects and careers. " />
    <meta property="og:url" content="https://mambure.co.zw" />
    <meta property="og:site_name" content="Mambure Trust" />
    <link rel="canonical" href="https://mambure.co.zw" />

    <script type="text/javascript">
        document.documentElement.className = 'js';
    </script>

    <script>
        var et_site_url = 'blog';
        var et_post_id = '0';

        function et_core_page_resource_fallback(a, b) {
            "undefined" === typeof b && (b = a.sheet.cssRules && 0 === a.sheet.cssRules.length);
            b && (a.onerror = null, a.onload = null, a.href ? a.href = et_site_url + "/?et_core_page_resource=" + a.id + et_post_id : a.src && (a.src = et_site_url + "/?et_core_page_resource=" + a.id + et_post_id))
        }
    </script>

    <meta name='robots' content='max-image-preview:large' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="SCAT &raquo; Feed" href="https://www.scat.org.za/feed/" />
    <link rel="alternate" type="application/rss+xml" title="SCAT &raquo; Comments Feed" href="#" />
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "blog\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.8.6"
            }
        };
        ! function(e, a, t) {
            var n, r, o, i = a.createElement("canvas"),
                p = i.getContext && i.getContext("2d");

            function s(e, t) {
                var a = String.fromCharCode;
                p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0);
                e = i.toDataURL();
                return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL()
            }

            function c(e) {
                var t = a.createElement("script");
                t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
            }
            for (o = Array("flag", "emoji"), t.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, r = 0; r < o.length; r++) t.supports[o[r]] = function(e) {
                if (!p || !p.fillText) return !1;
                switch (p.textBaseline = "top", p.font = "600 32px Arial", e) {
                    case "flag":
                        return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
                    case "emoji":
                        return !s([10084, 65039, 8205, 55357, 56613], [10084, 65039, 8203, 55357, 56613])
                }
                return !1
            }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
            t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function() {
                t.DOMReady = !0
            }, t.supports.everything || (n = function() {
                t.readyCallback()
            }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function() {
                "complete" === a.readyState && t.readyCallback()
            })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <meta content="Divi v.4.5.6" name="generator" />
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='wp-block-library-css' href='blog/wp-includes/css/dist/block-library/style.min.css?ver=5.8.6' type='text/css' media='all' />
    <link rel='stylesheet' id='divi-fonts-css' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,latin-ext&#038;display=swap' type='text/css' media='all' />
    <link rel='stylesheet' id='divi-style-css' href='home/wp-content/themes/Divi/style.css?ver=4.5.6' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css' href='blog/wp-includes/css/dashicons.min.css?ver=5.8.6' type='text/css' media='all' />
    <script type='text/javascript' src='blog/wp-includes/js/jquery/jquery.min.js?ver=3.6.0' id='jquery-core-js'></script>
    <script type='text/javascript' src='blog/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <script type='text/javascript' src='blog/wp-content/themes/Divi/core/admin/js/es6-promise.auto.min.js?ver=5.8.6' id='es6-promise-js'></script>
    <script type='text/javascript' id='et-core-api-spam-recaptcha-js-extra'>
        /* <![CDATA[ */
        var et_core_api_spam_recaptcha = {
            "site_key": "",
            "page_action": {
                "action": "agm_wednesday_22_june_2022"
            }
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='blog/wp-content/themes/Divi/core/admin/js/recaptcha.js?ver=5.8.6' id='et-core-api-spam-recaptcha-js'></script>
    <link rel="https://api.w.org/" href="https://www.scat.org.za/wp-json/" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.scat.org.za/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="blog/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.8.6" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="" />
    <link rel="stylesheet" id="et-divi-customizer-global-cached-inline-styles" href="blog/wp-content/et-cache/global/et-divi-customizer-global-16796659822115.min.css" onerror="et_core_page_resource_fallback(this, true)" onload="et_core_page_resource_fallback(this)"
    />
</head>

<body class="blog et_pb_button_helper_class et_fixed_nav et_show_nav et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns_1_4__3_4 et_cover_background et_pb_gutter linux et_pb_gutters3 et_right_sidebar et_divi_theme et-db et_minified_js et_minified_css">
    <div id="page-container">



        <header id="main-header" data-height-onload="137">
            <div class="container clearfix et_menu_container">
                <div class="logo_container">
                    <span class="logo_helper"></span>
                    <a href="#">
						<img src="aboutX/wp-content/uploads/2018/07/logoX.png" alt="SCAT" id="logo" data-height-percentage="50" />
					</a>
                </div>
                <div id="et-top-navigation" data-height="137" data-fixed-height="126">
                    <nav id="top-menu-nav">
                        <ul id="top-menu" class="nav">
                            <li id="menu-item-2764" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-2764"><a href="/">Home</a></li>
                            <li id="menu-item-2610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2610"><a href="/about">Who We Are</a></li>
                            <li id="menu-item-2611" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2591 current_page_item menu-item-2611"><a href="/blog" aria-current="page">Blog & News</a></li>

                            <li id="menu-item-2610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2610"><a href="/gallery">Gallery</a></li>
                           
 
                            <li id="menu-item-2609" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2609"><a href="/contact">Contact Us</a></li>
                        </ul>
                    </nav>



                   

                    <div id="et_mobile_nav_menu">
                        <div class="mobile_nav closed">
                            <span class="select_page">Select Page</span>
                            <span class="mobile_menu_bar mobile_menu_bar_toggle"></span>
                        </div>
                    </div>
                </div>
                <!-- #et-top-navigation -->
            </div>
            <!-- .container 
            <div class="et_search_outer">
                <div class="container et_search_form_container">
                    <form role="search" method="get" class="et-search-form" action="#">
                        <input type="search" class="et-search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:" /> </form>
                    <span class="et_close_search_field"></span>
                </div>
            </div>-->
        </header>
        <!-- #main-header -->
        <div id="et-main-area">

            <div id="main-content">
                <div class="container">
                    <div id="content-area" class="clearfix">
                        <div id="left-area">

                            <article id="post-3771" class="et_pb_post post-3771 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-news tag-agm tag-annual-general-meeting">

                                <a class="entry-featured-image-url" href="https://www.herald.co.zw/ten-girls-win-the-mambure-trust-essay-writing-competition/">
								<img src="blog/images/new.jpg" alt="AGM Wednesday 22 June 2022" class="" width='1080' height='675' srcset="blog/images/new.jpg 600w, blog/images/new.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 600px, 100vw" />							</a>

                                <h2 class="entry-title"><a href="https://www.herald.co.zw/ten-girls-win-the-mambure-trust-essay-writing-competition/">Debate and Essay Competitions</a></h2>

                                <p class="post-meta"> by <span class="author vcard"><a  title="Posts by T@cS_2020" rel="author">T2020</a></span> | <span class="published">Nov 15, 2021</span> | <a href="https://www.scat.org.za/category/news/"
                                        rel="category tag">News</a></p>Ten girls from various schools in Bikita district walked away with cerificates, cash prizes, stationery, and hygiene packs at an essay writing competition prize giving ceremony held over the weekend............
                            </article>
                            <!-- .et_pb_post -->

                            <article id="post-3768" class="et_pb_post post-3768 post type-post status-publish format-standard has-post-thumbnail sticky hentry category-uncategorized tag-community-development-resource-association">

                                <a class="entry-featured-image-url" href="https://link.springer.com/article/10.1007/s41134-022-00218-z">
								<img src="blog/images/new2.jpg" alt="The CDRA Legacy" class="" width='1080' height='675' srcset="blog/images/new2.jpg 1024w, blog/images/new2.jpg 980w, blog/images/new2.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1024px, 100vw" />							</a>

                                <h2 class="entry-title"><a href="https://link.springer.com/article/10.1007/s41134-022-00218-z">Interrogating gendered exclusion of women in COVID-19 vaccination policies and practices in Southern Africa</a></h2>

                                <p class="post-meta"> by <span class="author vcard"><a  title="Posts by T@cS_2020" rel="author">2022</a></span> | <span class="published">Jun 18, 2022</span> | <a href="https://link.springer.com/article/10.1007/s41134-022-00218-z"
                                        rel="category tag">In the wake of evolving strains and the tenacity of COVID-19 infections and fatalities, many governments have introduced vaccination policies to curb the spread of the virus........
                            </article>
                            <!-- .et_pb_post -->

                            <article id="post-3700" class="et_pb_post post-3700 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-internship-opportunity tag-paid-internship tag-vacancy tag-work-opportunity">

                                <a class="entry-featured-image-url" href="https://www.tandfonline.com/doi/full/10.1080/10130950.2022.2111082">
								<img src="blog/images/3.jpg" alt="Vacancy &#8211; Paid Internship" class="" width='1080' height='675' srcset="blog/images/3.jpg 980w, blog/images/3.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1080px, 100vw" />							</a>

                                <h2 class="entry-title"><a href="https://www.tandfonline.com/doi/full/10.1080/10130950.2022.2111082">Exploring &#8211; Gendered Monitoring and Evaluation of the Social Protection System in Angola: A Rights-Based Perspective </a></h2>

                                <p class="post-meta"> by <span class="author vcard"><a  title="Posts by T@cS_2020" rel="author">2022</a></span> | <span class="published">Aug 28, 2022</span> | <a href="https://www.tandfonline.com/doi/full/10.1080/10130950.2022.2111082"
                                        rel="category tag">Nearly two decades after the intermittent but protracted civil war in Angola, the country is still recovering from some of the long-term adverse effects of this strife
                            </article>
                            <!-- .et_pb_post -->

                          
                            <!-- .et_pb_post -
                            <div class="pagination clearfix">
                                <div class="alignleft"><a href="blog/blog/page/2/">&laquo; Older Entries</a></div>
                                <div class="alignright"></div>
                            </div>-->
                        </div>
                        <!-- #left-area -->

                        <div id="sidebar">
                           <div id="search-2" class="et_pb_widget widget_search">
                               <!--  <form role="search" method="get" id="searchform" class="searchform" action="https://www.scat.org.za/">
                                    <div>
                                        <label class="screen-reader-text" for="s">Search for:</label>
                                        <input type="text" value="" name="s" id="s" />
                                        <input type="submit" id="searchsubmit" value="Search" />
                                    </div>
                                </form>-->
                            </div>
                            <!-- end .et_pb_widget -->
                            <div id="recent-posts-2" class="et_pb_widget widget_recent_entries">
                                <h4 class="widgettitle">Recent Posts</h4>
                                <ul>
                                    <li>
                                        <a href="https://www.herald.co.zw/ten-girls-win-the-mambure-trust-essay-writing-competition/">Debate and Essay Competitions</a>
                                    </li>
                                    <li>
                                        <a href="https://link.springer.com/article/10.1007/s41134-022-00218-z">Interrogating gendered exclusion of women in COVID-19 vaccination policies and practices in Southern Africa</a>
                                    </li>
                                    <li>
                                        <a href="https://www.tandfonline.com/doi/full/10.1080/10130950.2022.2111082">Exploring &#8211; Gendered Monitoring and Evaluation of the Social Protection System in Angola: A Rights-Based Perspective</a>
                                    </li>
                                 <!--  <li>
                                        <a href="blog/gbv-report-launch/">GBV Report Launch</a>
                                    </li>
                                    <li>
                                        <a href="blog/our-2020-annual-report/">Our 2020 Annual Report</a>
                                    </li>--> 
                                </ul>

                            </div>
                            <!-- end .et_pb_widget -
                            <div id="recent-comments-2" class="et_pb_widget widget_recent_comments">
                                <h4 class="widgettitle">Recent Comments</h4>
                                <ul id="recentcomments">
                                    <li class="recentcomments"><span class="comment-author-link"><a href='http://www.scat.org.za/NEWSITE2020' rel='external nofollow ugc' class='url'>T@cS_2020</a></span> on <a href="https://www.scat.org.za/dullah-omar-school-2019/#comment-30">Dullah Omar School 2019</a></li>
                                    <li
                                        class="recentcomments"><span class="comment-author-link">Dimakatso Sechele</span> on <a href="blog/dullah-omar-school-2019/#comment-29">Dullah Omar School 2019</a></li>
                                        <li class="recentcomments"><span class="comment-author-link">Tiffany</span> on <a href="blog/scat-newsletter/#comment-25">SCAT Newsletter</a></li>
                                        <li class="recentcomments"><span class="comment-author-link"><a href='blog/NEWSITE2020' rel='external nofollow ugc' class='url'>T@cS_2020</a></span> on <a href="https://www.scat.org.za/dullah-omar-school-2019/#comment-23">Dullah Omar School 2019</a></li>
                                        <li
                                            class="recentcomments"><span class="comment-author-link">Thoko Mahlangu</span> on <a href="blog/dullah-omar-school-2019/#comment-22">Dullah Omar School 2019</a></li>
                                </ul>
                            </div>
                            <!-- end .et_pb_widget -->
                        </div>
                        <!-- end #sidebar -->
                    </div>
                    <!-- #content-area -->
                </div>
                <!-- .container -->
            </div>
            <!-- #main-content -->


            <footer id="main-footer">

                <div class="container">
                    <div id="footer-widgets" class="clearfix">
                        <div class="footer-widget">
                            <div id="media_image-3" class="fwidget et_pb_widget widget_media_image"><img width="117" height="157" src="home/wp-content/uploads/2020/08/scat-footer.png" class="image wp-image-2766  attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;" /></div>
                            <!-- end .fwidget -->
                        </div>
                        <!-- end .footer-widget -->
                        <div class="footer-widget">
                            <div id="text-5" class="fwidget et_pb_widget widget_text">
                                <div class="textwidget">
                                    <div class="entry-content">
                                        <p><strong>Tel: </strong> +263774399281</p>
                                        <p><strong>e-mail: </strong>  mamburetrust@gmail.com </p>
                                        <p>52 &#8211; House No. 2387 First Street</p>
                                        <p>Chesvingo,  Masvingo |  Zimbabwe</p>
                                       
                                    </div>
                                </div>
                            </div>
                            <!-- end .fwidget -->
                        </div>
                        <!-- end .footer-widget -->
                    </div>
                    <!-- #footer-widgets -->
                </div>
                <!-- .container -->


                <div id="footer-bottom">
                    <div class="container clearfix">
                        <ul class="et-social-icons">

                            <li class="et-social-icon et-social-facebook">
                                <a href="https://www.facebook.com/mamburetrust/" class="icon">
			<span>Facebook</span>
		</a>
                            </li>
                            <li class="et-social-icon et-social-twitter">
                                <a href="https://twitter.com/mamburetrust" class="icon">
			<span>Twitter</span>
		</a>
                            </li>
                     

                        </ul>
                        <div id="footer-info">
                            Copyright ©2023 Mambure Trust All Rights Reserved

                        </div>
                    </div>
                    <!-- .container -->
                </div>
            </footer>
            <!-- #main-footer -->
        </div>
        <!-- #et-main-area -->


    </div>
    <!-- #page-container -->

    <link rel='stylesheet' id='mediaelement-css' href='blog/wp-includes/js/mediaelement/mediaelementplayer-legacy.min.css?ver=4.2.16' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-mediaelement-css' href='blog/wp-includes/js/mediaelement/wp-mediaelement.min.css?ver=5.8.6' type='text/css' media='all' />
    <script type='text/javascript' id='divi-custom-script-js-extra'>
        /* <![CDATA[ */
        var DIVI = {
            "item_count": "%d Item",
            "items_count": "%d Items"
        };
        var et_shortcodes_strings = {
            "previous": "Previous",
            "next": "Next"
        };
        var et_pb_custom = {
            "ajaxurl": "blog\/wp-admin\/admin-ajax.php",
            "images_uri": "blog\/wp-content\/themes\/Divi\/images",
            "builder_images_uri": "blog\/wp-content\/themes\/Divi\/includes\/builder\/images",
            "et_frontend_nonce": "ac12271f35",
            "subscription_failed": "Please, check the fields below to make sure you entered the correct information.",
            "et_ab_log_nonce": "e2afb45096",
            "fill_message": "Please, fill in the following fields:",
            "contact_error_message": "Please, fix the following errors:",
            "invalid": "Invalid email",
            "captcha": "Captcha",
            "prev": "Prev",
            "previous": "Previous",
            "next": "Next",
            "wrong_captcha": "You entered the wrong number in captcha.",
            "wrong_checkbox": "Checkbox",
            "ignore_waypoints": "no",
            "is_divi_theme_used": "1",
            "widget_search_selector": ".widget_search",
            "ab_tests": [],
            "is_ab_testing_active": "",
            "page_id": "3771",
            "unique_test_id": "",
            "ab_bounce_rate": "5",
            "is_cache_plugin_active": "no",
            "is_shortcode_tracking": "",
            "tinymce_uri": ""
        };
        var et_frontend_scripts = {
            "builderCssContainerPrefix": "#et-boc",
            "builderCssLayoutPrefix": "#et-boc .et-l"
        };
        var et_pb_box_shadow_elements = [];
        var et_pb_motion_elements = {
            "desktop": [],
            "tablet": [],
            "phone": []
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='blog/wp-content/themes/Divi/js/custom.unified.js?ver=4.5.6' id='divi-custom-script-js'></script>
    <script type='text/javascript' src='blog/wp-content/themes/Divi/core/admin/js/common.js?ver=4.5.6' id='et-core-common-js'></script>
    <script type='text/javascript' src='blog/wp-includes/js/wp-embed.min.js?ver=5.8.6' id='wp-embed-js'></script>
    <script type='text/javascript' id='mediaelement-core-js-before'>
        var mejsL10n = {
            "language": "en",
            "strings": {
                "mejs.download-file": "Download File",
                "mejs.install-flash": "You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/",
                "mejs.fullscreen": "Fullscreen",
                "mejs.play": "Play",
                "mejs.pause": "Pause",
                "mejs.time-slider": "Time Slider",
                "mejs.time-help-text": "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.",
                "mejs.live-broadcast": "Live Broadcast",
                "mejs.volume-help-text": "Use Up\/Down Arrow keys to increase or decrease volume.",
                "mejs.unmute": "Unmute",
                "mejs.mute": "Mute",
                "mejs.volume-slider": "Volume Slider",
                "mejs.video-player": "Video Player",
                "mejs.audio-player": "Audio Player",
                "mejs.captions-subtitles": "Captions\/Subtitles",
                "mejs.captions-chapters": "Chapters",
                "mejs.none": "None",
                "mejs.afrikaans": "Afrikaans",
                "mejs.albanian": "Albanian",
                "mejs.arabic": "Arabic",
                "mejs.belarusian": "Belarusian",
                "mejs.bulgarian": "Bulgarian",
                "mejs.catalan": "Catalan",
                "mejs.chinese": "Chinese",
                "mejs.chinese-simplified": "Chinese (Simplified)",
                "mejs.chinese-traditional": "Chinese (Traditional)",
                "mejs.croatian": "Croatian",
                "mejs.czech": "Czech",
                "mejs.danish": "Danish",
                "mejs.dutch": "Dutch",
                "mejs.english": "English",
                "mejs.estonian": "Estonian",
                "mejs.filipino": "Filipino",
                "mejs.finnish": "Finnish",
                "mejs.french": "French",
                "mejs.galician": "Galician",
                "mejs.german": "German",
                "mejs.greek": "Greek",
                "mejs.haitian-creole": "Haitian Creole",
                "mejs.hebrew": "Hebrew",
                "mejs.hindi": "Hindi",
                "mejs.hungarian": "Hungarian",
                "mejs.icelandic": "Icelandic",
                "mejs.indonesian": "Indonesian",
                "mejs.irish": "Irish",
                "mejs.italian": "Italian",
                "mejs.japanese": "Japanese",
                "mejs.korean": "Korean",
                "mejs.latvian": "Latvian",
                "mejs.lithuanian": "Lithuanian",
                "mejs.macedonian": "Macedonian",
                "mejs.malay": "Malay",
                "mejs.maltese": "Maltese",
                "mejs.norwegian": "Norwegian",
                "mejs.persian": "Persian",
                "mejs.polish": "Polish",
                "mejs.portuguese": "Portuguese",
                "mejs.romanian": "Romanian",
                "mejs.russian": "Russian",
                "mejs.serbian": "Serbian",
                "mejs.slovak": "Slovak",
                "mejs.slovenian": "Slovenian",
                "mejs.spanish": "Spanish",
                "mejs.swahili": "Swahili",
                "mejs.swedish": "Swedish",
                "mejs.tagalog": "Tagalog",
                "mejs.thai": "Thai",
                "mejs.turkish": "Turkish",
                "mejs.ukrainian": "Ukrainian",
                "mejs.vietnamese": "Vietnamese",
                "mejs.welsh": "Welsh",
                "mejs.yiddish": "Yiddish"
            }
        };
    </script>
    <script type='text/javascript' src='blog/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=4.2.16' id='mediaelement-core-js'></script>
    <script type='text/javascript' src='blog/wp-includes/js/mediaelement/mediaelement-migrate.min.js?ver=5.8.6' id='mediaelement-migrate-js'></script>
    <script type='text/javascript' id='mediaelement-js-extra'>
        /* <![CDATA[ */
        var _wpmejsSettings = {
            "pluginPath": "\/wp-includes\/js\/mediaelement\/",
            "classPrefix": "mejs-",
            "stretching": "responsive"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='blog/wp-includes/js/mediaelement/wp-mediaelement.min.js?ver=5.8.6' id='wp-mediaelement-js'></script>
    <script type='text/javascript' src='blog/wp-includes/js/mediaelement/renderers/vimeo.min.js?ver=4.2.16' id='mediaelement-vimeo-js'></script>
</body>

</html>

<!-- Page generated by LiteSpeed Cache 5.2 on 2023-04-14 18:52:06 -->